.uddannelse, .arbejde, .andet-info, .kort-info {
  border: 3px;
  border-color: rgba(181, 112, 148);
  background-color: black;
  border-style: groove;
  border-radius: 20px;
}

a {
  color: skyblue;
  text-decoration: none;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  color: grey;
  letter-spacing: 2px;
}

li {
  font-size: 14px;
  color: grey;
  letter-spacing: 2px;

}

h3, h4, p {
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;

}

h4 {
  font-weight: normal;
  color: lightgrey;
}

h3 {
  text-align: center;
  color: rgba(181, 112, 148);
  font-weight: normal;
}

.om-mig {
  text-align: left;
  padding-left: 363px;
  max-width: 900px;
  color: grey;
  font-size: 1rem;
  letter-spacing: 2px;
}

body {
  background-color: #16161;
  font-family: "Heebo", sans-serif;
  font-weight: lighter;
  line-height: 140%;
}

img {
  width: 400px;
  margin-bottom: -440px;
  margin-left: -35px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: rgba(181, 112, 148);
  font-size: 280%;
  font-weight: normal;
  margin-top: 100px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Heebo", sans-serif;
  /*calibri*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 50px;
  background-color: #2b2b2b;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
  font-weight: normal;
}

.lang {
  color: #292929;
}

.logo {
  font-size: 25px;
  font-weight: lighter;
  color: #6c707c;
  /*font-family:calibri;*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.toggle {
  display: none;
}

.menu li a:hover {
  background-color: rgba(181, 112, 148);
  color: white;
  font-weight: bold;
  transition: all ease 0.4s;
  border-radius: 10px;
}

.kort-info{
  margin-top: 80px;
}
